body, div, h1, h2, h3, h4, h5, h5, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0;}
ul, ol { list-style-type: none;}

body { font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif; color: #13243a;}
a { color: #515151; text-decoration: none;}
a:hover { color: #31a5e7;}
.line1 {position: relative; width: 130px; height: 1px; background-color: #13243a;margin: 0 auto 15px;}
.line2 {position: relative; width: 130px; height: 1px; background-color: #13243a;}
.mr-l27 {margin-left: 27px;}
.mr-t30 {margin-top: 30px}
.g-active {color: #31a5e7;}

.clearfix:after { content: ""; display: table; clear: both;}

.ml-nav { position: fixed; top: 70px; left: 0; z-index: 10; width: 100%; padding: 12px 0; background-color: rgba(255, 255, 255, 0.4);}
.ml-logo { float: left; width: 126px; height: 20px; margin: 8px 0; font-size: 0;}
.ml-link { float: right; margin: 8px 120px 0 0; font-size: 0;}
.ml-link .active{ color: #00b4ec;}
.ml-link a { display: inline-block; margin: 0 15px; font-size: 14px;}
.buy-now { position: absolute; right: 0; top: 0; width: 100px; height: 36px; line-height: 36px; text-align: center; color: #fff; background-color: #3db1fa;}
.buy-now:hover { color: #fff;}

.navbar {display: block;position: fixed;z-index: 7;width: 100%;background: #fff;height: 70px;}
.navbar .logo { float: left; margin: 0;}
.navbar .logo a { float: left; width: 256px; height: 70px; font-size: 0; background-image: url(../images/logo.png);}

.center-wrap { position: relative; z-index: 1; width: 1140px; height: 100%; margin: 0 auto;}
.desc { position: relative; z-index: 1;}

.section { overflow: hidden;}
.section h2 { margin-bottom: 10px; line-height: 1.4; font-size: 30px; font-weight: 400;}
.section p { line-height: 20px;}

.nav { float: right;}
.nav li { float: left;}
.nav a { display: block; padding: 27px 22px 25px}
.login { position: absolute; right: 0; top: 31px;}
.login a { margin: 0 5px; padding-top: 31px;}

/**背景**/
.index .BigBox { width: 100%; position: relative; overflow: hidden; top: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#boxUl{ width: 100%; height: 948px; position: relative; display: block;}
#boxUl li.c{ position: absolute; width: 95%; height: 95%; background: url(../images/bg1-cont1.png) left no-repeat;}

/*.banner { background: url(../images/bg1-s.jpg) 50% 0 no-repeat;}
.banner-desc { position: absolute; width: 386px; margin: 0 auto; color: #FFF; bottom: 95px; left: 50%; margin-left: -193px;}
.banner-desc h1 { text-align: center;}*/

.two { position: relative;height: 100%;width: 100%; background: url(../images/bg2.jpg) no-repeat;}
.two .two-content {position: relative;margin-top: 15px;}
.two .two-content .two-cont {position: relative; overflow: hidden; height: 250px;}
.two .two-content .two-cont .two-box{ position: relative; float: left; min-height: 1px; width: 380px; text-align: center;padding: 30px 0;cursor:pointer;}
.two .two-content .two-cont .two-box img{
	display: table;
	margin: 0 auto 37px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;}
.two .two-content .two-cont .two-box:hover img{
	transform: scale(.8);
	-ms-transform: scale(.8);
	-moz-transform: scale(.8);
	-webkit-transform: scale(.8);
	-o-transform: scale(.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.two .two-content .two-cont .two-box p {font-size: 18px;font-weight: 700;}
.two .two-content .two-cont .two-box img{ display: table; margin: 0 auto 37px;}
.two .two-content .two-cont3 {position: relative;overflow: hidden;text-align: center; font-size: 16px; color: #13243a;}
.two .two-content .two-cont3 p{line-height: 30px;}
.two .two-content .two-cont3 a{position: relative;display: block;color: #ff6543;width: 157px;height: 46px;line-height: 46px; margin: 30px auto 0;border-radius: 15px;border: 1px solid #ff6543;}
.two .two-content .two-cont3 a:hover{background-color: #ff6543;color: #ffffff;}
.two-desc { width: 574px; margin: 0 auto; padding-top: 145px; text-align: center;}
.two-desc h1 {}
.two-desc p {  color: #496478; }

.three {position: relative;overflow: hidden; background: url(../images/bg3.jpg) center 0 no-repeat;}
.three .three-content {position: relative;overflow: hidden;}
.three .three-content .three-cont1 {font-size: 16px;color: #666666;max-width: 1040px;margin: 0 auto;overflow: hidden;}
.three .three-content .three-cont1 .three_contL{float: left;}
.three .three-content .three-cont1 .three_contR{float: right;}
.three .three-content .three-cont1 .t_box {position: relative;display: block;overflow: hidden;margin-top: 35px;}
.three .three-content .three-cont1 .t_box .box_title {display: block; float:left; width: 67px;height: 52px;text-align: center;line-height: 52px;border: 1px solid #496478;color: #496478;font-size: 36px;}
.three .three-content .three-cont1 .t_box .box_cont {display: block;float: left;padding-left: 21px;width: 368px;}
.three .three-content .three-cont1 .t_box .box_cont h3{font-size: 24px;color: #496478;margin-bottom: 6px;}
.three .three-content .three-cont1 .t_box .box_cont p{color: #666;font-size: 14px;}
.three .three-content .three-cont2	{position: relative;overflow: hidden;max-width: 1040px;margin: 50px auto 0;}
.three .three-content .three-cont2	.cont2_cont {position: relative;float: left;}
.three .three-content .three-cont2	.cont2_cont .title h3{font-size: 30px;color: #13243a;}
.three .three-content .three-cont2	.cont2_cont .title p{font-size: 14px;padding: 30px 0;color: #496478;}
.three .three-content .three-cont2	.cont2_cont .cont li{padding: 15px 0;font-size: 16px;}
.three .three-content .three-cont2	.cont2_img {position: relative;float: right;}


.five { background: url(../images/bg4.jpg) center 0 no-repeat;overflow: hidden;position: relative;}
.five .five-content{ background: url(../images/bg4-cont.png) 100% no-repeat;overflow: hidden;position: relative;height: 683px;margin-top: 20px;}
.five .five-content .cont1 {padding-left: 660px;}
.five .five-content .cont1 h3{font-size: 24px;color: #444444;margin: 20px 0;}
.five .five-content .cont1 li{font-size: 16px;color: #666;padding: 10px 0;}
.five .five-content .cont2 {margin-top: 155px;text-align: right;padding-right: 660px;}
.five .five-content .cont2 h3{font-size: 18px;color: #777;margin: 20px 0;}
.five .five-content .cont2 li{font-size: 14px;color: #777;padding: 10px 0;}

.six {background: url(../images/bg5.jpg) center 0 no-repeat;overflow: hidden;position: relative;}
.six-desc { position: absolute; right: 0; padding-top: 30%; width: 612px; z-index: 1;}
.six .six-desc > p{font-size: 16px;color: #444444;padding: 0 27px;}
.six .six-desc h2{padding: 0 27px;}
.six .cont1 {position: relative;overflow: hidden;padding-left: 27px;margin: 50px 0;}
.six .cont1 p:last-child{font-size: 16px;margin-top: 5px;}
.six .cont1 .cont1_left {float: left;width: 50%;}
.six .cont1 .cont1_left img{float: left;margin-right: 20px;}
.six .cont1 .cont1_right {float: right;width: 50%;}
.six .cont1 .cont1_right img{float: left;margin-right: 20px;}
.six .cont2 {position: relative;overflow: hidden;padding-left: 27px;margin: 50px 0;}
.six .cont2 p:last-child{font-size: 16px;margin-top: 5px;}
.six .cont2 .cont2_left {float: left;width: 50%;}
.six .cont2 .cont2_left img{float: left;margin-right: 20px;}
.six .cont2 .cont2_right {float: right;width: 50%;}
.six .cont2 .cont2_right img{float: left;margin-right: 20px;}


.camera { background: url(../images/bg7-s.jpg) center 0 no-repeat;}
.camera-desc { position: absolute; padding-top: 30%; left: 144px; width: 460px;}

.battery { background-color: #00b4ec;}
.battery-desc { position: absolute; right: 0; padding-top: 26%; width: 410px; text-align: right;}
.battery-img { position: absolute; bottom: -10px; left: -200px;}
.battery-img img { width: 1000px;}

.footer-link {position: relative;overflow: hidden;height: 383px;background-color: #414b58;}
.footer-link .cont_left{position: relative;overflow: hidden;float: left;padding: 20px 0;}
.footer-link .cont_left .form-cont{position: relative;overflow: hidden;margin-top: 20px;}
.footer-link .cont_left .form-cont .form-group {position: relative;overflow: hidden;margin: 15px 0;}
.footer-link .cont_left .form-cont .form-group .impor{display: inline-table;height: 28px;line-height: 28px;color: #ff0000}
.footer-link .cont_left .form-cont .form-group label{display: block;float: left;font-size: 16px;line-height: 28px;color: #fff;}
.footer-link .cont_left .form-cont .form-group .text_input {display: block;width: 304px;height: 25px;float: right;margin-left: 10px;border-radius: 6px;padding: 0 7px;}
.footer-link .cont_left .form-cont .form-group .sex {position: relative;float: left;margin: 5px 6px;}
.footer-link .cont_left .form-cont .form-group .sex input{margin: 0 10px;width: 17px;height: 17px;vertical-align: top;cursor: pointer;}
.footer-link .cont_left .form-cont .form-group .sex span{color: #fff;}
.footer-link .cont_left .form-cont .submitBtn {position: relative;;display: block;width: 323px;height: 32px;background-color: #3381e2;color: #fff;border: 0;margin: 0 0 0 64px;border-radius: 6px;cursor: pointer;}
.footer-link .cont_right {position: relative;overflow: hidden;float: right;padding: 20px 0;}
.footer-link .cont_right .footer_navbar {position: relative;overflow: hidden;margin-top: 20px;}
.footer-link .cont_right .footer_navbar li {float: left;}
.footer-link .cont_right .footer_navbar li a{display: block;color: #fff;width: 107px;height: 17px;border-right: 1px solid #ffffff;text-align: center;}
.footer-link .cont_right .footer_navbar li a:hover{color: #31a5e7;}
.footer-link .cont_right .phone {position: relative;float: right;padding: 30px 38px;}
.footer-link .cont_right .er_address .er_img {position: relative;float: left;}
.footer-link .cont_right .er_address .er_img {padding: 0 38px;}
.footer-link .cont_right .er_address .er_cont {position: relative;float: left;}
.footer-link .cont_right .er_address .er_cont li{line-height: 26px;color: #fff}


.copyright {background-color: #1d232c;color: #fff;padding: 10px 0; text-align: center;}
.copyright a{color: #fff;}

#fp-nav ul li:first-child, #fp-nav ul li:last-child { display: none;}
